@{
    ViewData["Title"] = "Hata";
}

<div class="container mt-4">
    <h1 class="text-danger">Hata</h1>
    <h2 class="text-danger">Bir hata oluştu.</h2>

    <div class="alert alert-danger">
        <h3>Hata Detayı</h3>
        <p>Lütfen sistem yöneticinizle iletişime geçin.</p>
    </div>
</div>